Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

refactor(sections): improve LatestPostsSection and update StackSection
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(components): improve ViewMoreButton and sections consistency
  src/components/ViewMoreButton.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(ViewMoreButton): improve accessibility and convert styles to Tailwind
  src/components/ViewMoreButton.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(components): rename ViewMoreButton to ExpandButton and create ViewMoreLink
  src/assets/icons/arrow-right.svg
  src/components/ExpandButton.astro
  src/components/HomePage.astro
  src/components/ViewMoreLink.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  daa5adfed0831c34a39b045c47bc347871a49718
Due: none

fix(ci): remove --frozen-lockfile to support Dependabot PRs
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/verify.yml
Due: prettier --check

Notes added by 'git notes add'
  4db00652fbab4775eb46cc93a254d268780e1db5
Due: none

fix(ci): remove --frozen-lockfile from release workflow
  .github/workflows/release.yml
Due: prettier --check

Notes added by 'git notes add'
  3261f7be5c0238ee8a05c3ce944bda00c8957973
Due: none

feat(testimonials): add TestimonialCard and TestimonialsSection
  src/assets/testimonials/douglas-makey.jpg
  src/assets/testimonials/marcelo.jpeg
  src/assets/testimonials/pablo-saba.jpg
  src/assets/testimonials/santiago.jpeg
  src/assets/testimonials/santos.jpeg
  src/assets/testimonials/sebastian-medina.jpg
  src/assets/testimonials/victor.jpeg
  src/assets/testimonials/walter.jpeg
  src/components/HomePage.astro
  src/components/TestimonialCard.astro
  src/sections/TestimonialsSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(testimonials): improve accessibility in TestimonialCard
  src/components/TestimonialCard.astro
  src/sections/TestimonialsSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  7c1cccbb2d3b6f9e9e8b7a780224b42d762c12e5
Due: none

chore(release): skip success comments on bot-created issues
  .releaserc.json
Due: none

chore(github): simplify PR template related issues comment
  .github/pull_request_template.md
Due: prettier --check

docs(github): simplify PR template related issues comment
  .releaserc.json
Due: none

chore(release): only post success comments on PRs
  .releaserc.json
Due: none

feat(dev): add ViewportIndicator for Tailwind breakpoints and DPR
  src/components/ViewportIndicator.astro
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(release): use conventionalcommits preset
  .releaserc.json
Due: none

Notes added by 'git notes add'
  03b7743f0be536bee2916e1c73024d236e6351d3
Due: none

refactor(social): extract social link types and add iconClass prop to SocialLinks
  src/components/SocialLinks.astro
  src/sections/HeroSection.astro
  src/types/social.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(sections): add ContactSection with CTA button and social links
  src/assets/logo.svg
  src/components/HomePage.astro
  src/sections/ContactSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

style(theme): update accent color to oklch(0.52 0.17 278.73)
  src/styles/theme.css
Due: none

style(companies): update company logo colors to #5757C7
  public/companies/openzeppelin.svg
  public/companies/premise.svg
  public/companies/rappi.svg
  public/companies/resit.svg
  public/companies/socotra.svg
  public/companies/vitamina.svg
Due: none

style(CompanyMarquee): add opacity 0.7 default with 1 on hover
  src/components/CompanyMarquee.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  f4f60171bb3bc7082f96e9e23d3937c3598c0abb
Due: none

refactor(types): extract Post and Testimonial types to dedicated files
  src/components/HomePage.astro
  src/sections/LatestPostsSection.astro
  src/sections/TestimonialsSection.astro
  src/types/post.ts
  src/types/testimonial.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(types): extract Technology and icon types to dedicated files
  src/components/HomePage.astro
  src/components/TechItem.astro
  src/sections/StackSection.astro
  src/types/icon.ts
  src/types/technology.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(data): move testimonials array to dedicated data file
  src/components/HomePage.astro
  src/data/testimonials.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(data): move technologies array to dedicated data file
  src/components/HomePage.astro
  src/data/technologies.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(data): move socials to dedicated data file
  src/components/HomePage.astro
  src/data/socials.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(imports): use path aliases instead of relative imports
  src/components/HomePage.astro
  src/pages/index.astro
  src/types/technology.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): prevent redirect loop on 404 pages
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/es/404.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): detect locale from URL on 404 page
  src/pages/404.astro
  src/pages/es/404.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): prevent flash of wrong locale on 404 page
  src/pages/404.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): use client-side locale detection for 404 page
  lighthouserc.json
  src/pages/404.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  e0fbcf84ba33bf7ec087a7d526ab16d129f5ece4
Due: none

feat(blog): add MDX blog with i18n support
  astro.config.mjs
  bun.lock
  lighthouserc.json
  package.json
  src/components/Navbar.astro
  src/content.config.ts
  src/content/blog/en/example-post.mdx
  src/content/blog/es/example-post.mdx
  src/i18n/ui.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/es/blog/[slug].astro
  src/pages/es/blog/index.astro
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Path conditions:
  oxlint --import-plugin --deny-warnings: any of: **/*.{js,mjs,cjs,ts,astro}
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,astro}) or (any of: **/*.{md,yml})
