Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

.lintstagedrc:

{
	"**/*.{js,mjs,cjs,ts,astro}": ["oxlint --import-plugin --deny-warnings", "prettier --check"],
	"**/*.{md,yml}": ["prettier --check"]
}

Notes added by 'git notes add'
  06d7d802c140515a11011cc881ea054a327fe69b
Due: none

feat: add accessibility, SEO, and performance improvements
  AGENTS.md
  bun.lock
  package.json
  public/browserconfig.xml
  public/fonts/InterVariable.woff2
  src/assets/icons/arrow-up.svg
  src/components/BackToTop.astro
  src/components/CompanyMarquee.astro
  src/components/Giscus.astro
  src/components/LocaleScript.astro
  src/components/Navbar.astro
  src/components/SocialLinks.astro
  src/components/TestimonialCard.astro
  src/components/seo/ArticleJsonLd.astro
  src/components/seo/HomePageJsonLd.astro
  src/components/seo/OpenGraphMeta.astro
  src/components/seo/PersonJsonLd.astro
  src/components/seo/SEO.astro
  src/data/seo.ts
  src/data/technologies.ts
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/lib/formatters.ts
  src/pages/404.astro
  src/pages/es/rss.xml.ts
  src/pages/rss.xml.ts
  src/sections/HeroSection.astro
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  5231c2af4c1996a34b168e094820e6a6ba0b5e07
Due: none

fix: override vulnerable lodash and tar dependencies
  bun.lock
  package.json
Due: none

Notes added by 'git notes add'
  05a3581f2808b0325a979d1a3f5e8731a6f432ed
Due: none

refactor: code quality and accessibility improvements
  src/components/FilterChip.astro
  src/components/WorkStatusBadge.astro
  src/data/blog.ts
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/pages/blog/index.astro
  src/pages/blog/page/[page].astro
  src/pages/es/blog/index.astro
  src/pages/es/blog/page/[page].astro
  src/sections/HeroSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: add social share component and accessibility improvements
  AGENTS.md
  public/fonts/Inter-400.woff2
  public/fonts/Inter-700.woff2
  src/assets/icons/external-link.svg
  src/assets/icons/facebook.svg
  src/assets/icons/link.svg
  src/assets/icons/mail.svg
  src/assets/icons/reddit.svg
  src/assets/icons/telegram.svg
  src/assets/icons/whatsapp.svg
  src/components/BackToTop.astro
  src/components/FilterChip.astro
  src/components/LocaleScript.astro
  src/components/Navbar.astro
  src/components/Pagination.astro
  src/components/SocialShare.astro
  src/components/mdx/A.astro
  src/components/seo/SEO.astro
  src/components/seo/index.ts
  src/data/blog.ts
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/lib/theme/theme.ts
  src/pages/blog/[slug].astro
  src/pages/es/blog/[slug].astro
  src/pages/og/[...slug].ts
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(icons): update chevron and clock icons to Lucide format
  src/assets/icons/chevron-left.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/clock.svg
Due: none

Notes added by 'git notes add'
  41193ec12dda24dd67aa7d5366ec3aa3b9a4c777
Due: none

chore(ci): harden GitHub Actions workflows
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: prettier --check

chore(ci): optimize workflow triggers and permissions
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
Due: prettier --check

fix: improve accessibility, i18n, and code quality
  src/components/Callout.astro
  src/components/Pagination.astro
  src/components/ProfilePicture.astro
  src/components/SocialShare.astro
  src/components/mdx/A.astro
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/pages/robots.txt.ts
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

revert: restore dynamic Tailwind classes in ProfilePicture
  src/components/ProfilePicture.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  72034c04ea16ec34a7aa7c5a020fe403501ebbe5
Due: none

fix: memory leaks, accessibility, and performance improvements
  public/patterns/dots.svg
  public/tech/astro.svg
  public/tech/aws.svg
  public/tech/github.svg
  src/components/BackToTop.astro
  src/components/BlogEntry.astro
  src/components/CompanyMarquee.astro
  src/components/Giscus.astro
  src/components/LocationBadge.astro
  src/components/TechItem.astro
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  e1976e58b75925f3603833e97ebefc79cccecb09
Due: none

feat(seo): add hreflang links to blog posts in sitemap
  astro.config.mjs
  src/components/CompanyMarquee.astro
  src/integrations/sitemap-hreflang.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  b58275ac20b4e75c38785dcce46b0459e2fff754
Due: none

fix: remove hreflang from RSS links to fix language switcher
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  7c1f1a0e5cc0c2fda7e4c778bceea68333564e69
Due: none

fix: properly handle hreflang on RSS feeds
  src/components/LanguageSwitcher.astro
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  cd1d8d91310f9aadaa1a8f2121087c8ee71e494e
Due: none

fix: accessibility, SEO, and performance improvements
  astro.config.mjs
  bun.lock
  package.json
  public/fonts/InterVariable.woff2
  src/components/BackToTop.astro
  src/components/BlogEntry.astro
  src/components/CompanyMarquee.astro
  src/components/ExpandButton.astro
  src/components/Navbar.astro
  src/components/Pagination.astro
  src/components/SocialLinks.astro
  src/components/SocialShare.astro
  src/components/ThemeToggle.astro
  src/components/seo/ArticleJsonLd.astro
  src/components/seo/HomePageJsonLd.astro
  src/components/seo/OpenGraphMeta.astro
  src/components/seo/PersonJsonLd.astro
  src/components/seo/WebSiteJsonLd.astro
  src/components/seo/index.ts
  src/lib/dom/animations.ts
  src/lib/social-share/index.ts
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  48158611474f760b0c9edd689afcb36386268baa
Due: none

docs: update README with current features and project structure
  README.md
Due: prettier --check

docs: rewrite AGENTS.md with comprehensive project guidelines
  AGENTS.md
Due: prettier --check

chore(deps): upgrade astro to v6.1.1
  bun.lock
  package-lock.json
  package.json
  src/content.config.ts
  src/env.d.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): refresh bun lockfile
  bun.lock
Due: none

fix(security): remediate vulnerable transitive dependencies
  .github/workflows/release.yml
  bun.lock
  package-lock.json
  package.json
Due: prettier --check

Notes added by 'git notes add'
  3a87b01813be4f03ce771424c3f37e439b414ac1
Due: none

feat(home): mark portfolio as open to work
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(ci): use node 22 in verify workflows
  .github/workflows/lighthouse.yml
  .github/workflows/verify.yml
Due: prettier --check

Notes added by 'git notes add'
  4f6035613c711a13a08d4bf5bdc07862be7daef6
Due: none

chore: update dependencies and pnpm build setup
  astro.config.mjs
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/SocialShare.astro
  src/components/seo/ArticleJsonLd.astro
  src/components/seo/BreadcrumbJsonLd.astro
  src/components/seo/HomePageJsonLd.astro
  src/pages/404.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

docs(blog): add mise setup article
  src/content/blog/en/your-repo-should-own-the-setup.mdx
  src/content/blog/es/tu-repo-deberia-hacerse-cargo-del-setup.mdx
Due: none

fix(ci): refresh bun lockfile
  bun.lock
Due: none

Notes added by 'git notes add'
  bc0506d6a16194a1d61dda24ddf733140a4cf6ed
Due: none

docs(blog): polish mise article copy
  src/content/blog/en/your-repo-should-own-the-setup.mdx
  src/content/blog/es/tu-repo-deberia-hacerse-cargo-del-setup.mdx
Due: none

chore(deps): bump actions/cache from 5.0.4 to 5.0.5
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: prettier --check

chore(deps): bump cloudflare/wrangler-action from 3.14.1 to 3.15.0
  .github/workflows/release.yml
Due: prettier --check
