Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

chore: add lighthouse-performance.svg for v2.12.2
  lighthouse-performance.svg
Due: none

chore: add lighthouse-accessibility.svg for v2.12.2
  lighthouse-accessibility.svg
Due: none

chore: add lighthouse-best-practices.svg for v2.12.2
  lighthouse-best-practices.svg
Due: none

chore: add lighthouse-seo.svg for v2.12.2
  lighthouse-seo.svg
Due: none

chore(ci): split Lighthouse scores into badges
  .github/workflows/release.yml
  README.md
  bun.lock
  package.json
  scripts/lighthouse-badge.test.ts
  scripts/lighthouse-badge.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

docs(readme): improve prose and document voice rules
  AGENTS.md
  README.md
Due: prettier --check

feat(blog): add interactive article visuals
  AGENTS.md
  src/components/blog/Disclosure.astro
  src/components/blog/RepoSetupFolderGlyph.astro
  src/components/blog/RepoSetupHandoff.astro
  src/components/blog/Reveal.astro
  src/components/blog/WorktreeBranches.astro
  src/components/blog/WorktreeFolderGlyph.astro
  src/components/blog/index.ts
  src/content/blog/en/git-worktree-interruption-proof-workflow.mdx
  src/content/blog/en/your-repo-should-own-the-setup.mdx
  src/content/blog/es/git-worktree-workflow-a-prueba-de-interrupciones.mdx
  src/content/blog/es/tu-repo-deberia-hacerse-cargo-del-setup.mdx
  src/i18n/ui.ts
  src/views/BlogPostPage.astro
  src/views/blog-post/BlogPostContent.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): bump semantic-release packages
  bun.lock
  package.json
Due: none

ci(verify): type check on pull requests
  .github/dependabot.yml
  .github/workflows/verify.yml
  package.json
Due: prettier --check

docs: document the check script
  AGENTS.md
  README.md
Due: prettier --check

chore(deps): resolve Dependabot updates and vulnerabilities
  .github/dependabot.yml
  .github/workflows/codeql.yml
  bun.lock
  bunfig.toml
  package.json
Due: prettier --check

feat(blog): add interactive article visuals (#108)
  AGENTS.md
  src/components/blog/Disclosure.astro
  src/components/blog/RepoSetupFolderGlyph.astro
  src/components/blog/RepoSetupHandoff.astro
  src/components/blog/Reveal.astro
  src/components/blog/WorktreeBranches.astro
  src/components/blog/WorktreeFolderGlyph.astro
  src/components/blog/index.ts
  src/content/blog/en/git-worktree-interruption-proof-workflow.mdx
  src/content/blog/en/your-repo-should-own-the-setup.mdx
  src/content/blog/es/git-worktree-workflow-a-prueba-de-interrupciones.mdx
  src/content/blog/es/tu-repo-deberia-hacerse-cargo-del-setup.mdx
  src/i18n/ui.ts
  src/views/BlogPostPage.astro
  src/views/blog-post/BlogPostContent.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  8e6bc143839ea3bfa5edeaa1ac5c9a2c00a1645c
Due: none

ci(verify): type check on pull requests
  .github/workflows/verify.yml
  package.json
Due: prettier --check

chore(deps): bump semantic-release, gate PRs on astro check (#109)
  .github/workflows/verify.yml
  AGENTS.md
  README.md
  package.json
Due: prettier --check

chore(deps): update Astro, CanvasKit, Vitest, and CodeQL
  .github/workflows/codeql.yml
  bun.lock
  package.json
Due: prettier --check

chore(deps): update Astro, CanvasKit, Vitest, and CodeQL (#116)
  .github/workflows/codeql.yml
  bun.lock
  package.json
Due: prettier --check

feat: add responsive motion to interactive elements
  scripts/verify-animation-opportunities.playwright
  src/components/CompanyMarquee.astro
  src/components/ExpandButton.astro
  src/components/FilterChip.astro
  src/components/SocialShare.astro
  src/components/ThemeToggle.astro
  src/sections/ContactSection.astro
  src/sections/StackSection.astro
  src/sections/stack-section/stack-section.ts
  src/styles/theme.css
  src/styles/utilities.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  73f651d7d6e3a1bce8284efc0e8ca08d5c5f5295
Due: none

ci: submit Bun dependencies and harden workflow gates
  .bun-version
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/dependency-security.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(ci): keep Bun dependency snapshots complete on audit failures
  .github/workflows/dependency-security.yml
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

ci: stabilize checks and inventory Bun dependencies (#118)
  .bun-version
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/dependency-security.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

ci: enforce zizmor checks for GitHub automation
  .github/workflows/zizmor.yml
Due: prettier --check

fix(ci): audit PRs from trusted workflow code
  .github/workflows/zizmor.yml
Due: prettier --check

ci: enforce zizmor checks for GitHub automation (#119)
  .github/workflows/zizmor.yml
Due: prettier --check

fix(ui): replace undefined color tokens and dark: variants
  src/pages/404.astro
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/views/blog-post/BlogPostArticle.astro
  src/views/blog-post/BlogPostHeader.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor: remove dead exports and stale comments
  src/components/ThemeScript.astro
  src/data/seo.ts
  src/data/technologies.ts
  src/i18n/ui.ts
  src/styles/theme.css
  vitest.config.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(seo): let crawlers fetch the generated OG images
  src/pages/robots.txt.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(blog): pair translations by declared slug and exclude drafts
  src/data/blog.ts
  src/pages/og/[...slug].ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

ci: run Lighthouse on config changes and lint only project sources
  .github/workflows/lighthouse.yml
  .oxlintrc.json
Due: prettier --check

fix(a11y): keep the hidden back-to-top button out of the tab order and announce copied links
  src/components/BackToTop.astro
  src/components/SocialShare.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(share): percent-encode the mailto subject and body
  src/lib/social-share/providers.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(a11y): hide decorative icons, add focus rings and drop extra landmarks
  src/components/Callout.astro
  src/components/ClearFilterButton.astro
  src/components/CompanyMarquee.astro
  src/components/ExpandButton.astro
  src/components/SocialLinks.astro
  src/components/TestimonialCard.astro
  src/components/ThemedImage.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(seo): emit one trailing-slash URL form across pages, sitemap and feeds
  astro.config.mjs
  src/components/Pagination.astro
  src/components/seo/CanonicalMeta.astro
  src/components/seo/SEO.astro
  src/data/rss.ts
  src/i18n/index.ts
  src/i18n/url-paths.ts
  src/i18n/utils.test.ts
  src/i18n/utils.ts
  src/integrations/sitemap-hreflang.ts
  src/layouts/Layout.astro
  src/pages/es/rss.xml.ts
  src/pages/rss.xml.ts
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
  src/views/blog-post/BlogPostHead.astro
  src/views/blog-post/blog-post-metadata.test.ts
  src/views/blog-post/blog-post-metadata.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): redirect first visits to the translated page
  src/components/LanguageSwitcher.astro
  src/components/LocaleScript.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(blog): format post dates in UTC
  src/components/BlogEntry.astro
  src/components/seo/ArticleJsonLd.astro
  src/components/seo/HomePageJsonLd.astro
  src/lib/formatters.test.ts
  src/lib/formatters.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(link-policy): return a fresh copy of the new-tab attributes
  src/lib/link-policy.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(home): add a contact link and 44px touch targets on mobile
  src/components/CompanyMarquee.astro
  src/components/FilterChip.astro
  src/components/LanguageSwitcher.astro
  src/components/Navbar.astro
  src/components/ProfilePicture.astro
  src/components/SocialLinks.astro
  src/components/TestimonialCard.astro
  src/components/ThemeToggle.astro
  src/components/WorkStatusBadge.astro
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/sections/HeroSection.astro
  src/styles/theme.css
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

docs(agents): document the trailing-slash URL rule and the RSS builder
  AGENTS.md
Due: prettier --check

Path conditions:
  oxlint --import-plugin --deny-warnings: any of: **/*.{js,mjs,cjs,ts,astro}
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,astro}) or (any of: **/*.{md,yml})
