Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

fix(i18n): normalize dotted page slugs and alternate paths
  src/i18n/url-paths.ts
  src/i18n/utils.test.ts
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(a11y): match hero contact labels to the URL scheme
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  b202808f7b3cca2588b91892eae545abaa724587
Due: none

fix: expose company controls and preserve article deep links
  src/components/CompanyMarquee.astro
  src/components/LocaleScript.astro
  src/components/ThemeScript.astro
  src/i18n/ui.ts
  src/views/blog-post/BlogPostHeader.astro
  src/views/blog-post/BlogPostProseStyles.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

perf: shrink font and artwork with responsive blog images
  astro.config.mjs
  public/images/brush-1.svg
  scripts/optimize-assets.py
  src/assets/fonts/InterVariable-latin.woff2
  src/assets/images/brush-original.svg
  src/components/ProfilePicture.astro
  src/content/blog/en/git-worktree-interruption-proof-workflow.mdx
  src/content/blog/es/git-worktree-workflow-a-prueba-de-interrupciones.mdx
Due: oxlint --import-plugin --deny-warnings, prettier --check

test: guard accessibility and locale behavior in browsers
  .github/workflows/verify.yml
  .gitignore
  bun.lock
  lighthouserc.json
  package.json
  playwright.config.ts
  scripts/preview-for-tests.mjs
  tests/browser/website.spec.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

test: build the site before browser regressions
  .github/workflows/verify.yml
  package.json
Due: prettier --check

docs: explain image resolution and rasterization constraints
  scripts/optimize-assets.py
  src/components/ProfilePicture.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix: reduce website payload and make navigation accessible (#125)
  .github/workflows/verify.yml
  .gitignore
  astro.config.mjs
  bun.lock
  lighthouserc.json
  package.json
  playwright.config.ts
  public/images/brush-1.svg
  scripts/optimize-assets.py
  scripts/preview-for-tests.mjs
  src/assets/fonts/InterVariable-latin.woff2
  src/assets/images/brush-original.svg
  src/components/CompanyMarquee.astro
  src/components/LocaleScript.astro
  src/components/ProfilePicture.astro
  src/components/ThemeScript.astro
  src/content/blog/en/git-worktree-interruption-proof-workflow.mdx
  src/content/blog/es/git-worktree-workflow-a-prueba-de-interrupciones.mdx
  src/i18n/ui.ts
  src/views/blog-post/BlogPostHeader.astro
  src/views/blog-post/BlogPostProseStyles.astro
  tests/browser/website.spec.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  d876adde0f788ec13174f692b7c04ea529450fb6
Due: none

fix(deps): patch fast-uri security vulnerabilities
  bun.lock
Due: none

chore(deps): bump Astro, Sharp, lint-staged, and OxLint
  bun.lock
  package.json
Due: none

chore(deps): bump CodeQL actions to v4.37.9
  .github/workflows/codeql.yml
Due: prettier --check

chore(deps): apply pending Dependabot updates and patch fast-uri (#126)
  .github/workflows/codeql.yml
  bun.lock
  package.json
Due: prettier --check

fix(deps): patch vulnerable image and YAML dependencies
  bun.lock
  package.json
Due: none

fix(deps): apply Astro updates with compatible MDX support
  bun.lock
  package.json
Due: none

chore(deps): bump oxlint to 1.81.0
  bun.lock
  package.json
Due: none

chore(deps): bump vitest to 5.0.0
  bun.lock
  package.json
Due: none

fix(deps): resolve Dependabot alerts and pending updates (#131)
  bun.lock
  package.json
Due: none

Notes added by 'git notes add'
  47a6ddfc16c4f55ed7cc0b024e97e5db27b25577
Due: none

fix(deps): resolve devalue denial-of-service advisory
  bun.lock
Due: none

fix(hero): remove the pause button under the company marquee
  src/components/CompanyMarquee.astro
  src/i18n/ui.ts
  tests/browser/website.spec.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): apply pending Astro, Playwright, and quality updates
  bun.lock
  package.json
Due: none

ci(deps): pin CodeQL actions to v4.38.0
  .github/workflows/codeql.yml
Due: prettier --check

fix(deps): resolve devalue alert and pending Dependabot updates (#138)
  .github/workflows/codeql.yml
  bun.lock
  package.json
Due: prettier --check

Notes added by 'git notes add'
  305f7ba01665824184921cc2519a6b06aa0762cd
Due: none

fix(hero): pause the company marquee from an icon toggle
  src/assets/icons/pause.svg
  src/assets/icons/play.svg
  src/components/CompanyMarquee.astro
  src/i18n/ui.ts
  src/sections/HeroSection.astro
  tests/browser/website.spec.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(hero): replace the marquee pause link with an icon toggle (#137)
  src/assets/icons/pause.svg
  src/assets/icons/play.svg
  src/components/CompanyMarquee.astro
  src/i18n/ui.ts
  src/sections/HeroSection.astro
  tests/browser/website.spec.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  2b5649e9c1c9da8de89037a71936f7a4a22680c5
Due: none

chore(deps): pin CodeQL 4.38.2 and Wrangler action 4.1.3
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: prettier --check

chore(deps): defer broken astro-compressor 2.0 releases
  .github/dependabot.yml
Due: prettier --check

fix(deps): patch vulnerable dependencies and upgrade Astro tooling
  .prettierignore
  bun.lock
  package.json
  prettier.config.mjs
  src/components/BlogEntry.astro
  src/components/Callout.astro
  src/components/CompanyMarquee.astro
  src/components/LanguageSwitcher.astro
  src/components/Pagination.astro
  src/components/SocialLinks.astro
  src/components/SocialShare.astro
  src/components/TechItem.astro
  src/components/TestimonialCard.astro
  src/components/WorkStatusBadge.astro
  src/components/blog/Disclosure.astro
  src/components/blog/RepoSetupHandoff.astro
  src/components/blog/WorktreeFolderGlyph.astro
  src/components/mdx/A.astro
  src/components/seo/CanonicalMeta.astro
  src/components/seo/OpenGraphMeta.astro
  src/layouts/Layout.astro
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
  src/sections/TestimonialsSection.astro
  src/views/BlogPage.astro
  src/views/HomePage.astro
  src/views/blog-post/BlogPostHeader.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(security): inventory the dependencies shipped inside npm
  .github/workflows/dependency-security.yml
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(security): preserve partial bundles and optional dependencies
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(deps): repair Dependabot updates and bundled dependency inventory (#148)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-security.yml
  .github/workflows/release.yml
  .prettierignore
  bun.lock
  package.json
  prettier.config.mjs
  scripts/bun-dependency-snapshot.test.ts
  scripts/bun-dependency-snapshot.ts
  src/components/BlogEntry.astro
  src/components/Callout.astro
  src/components/CompanyMarquee.astro
  src/components/LanguageSwitcher.astro
  src/components/Pagination.astro
  src/components/SocialLinks.astro
  src/components/SocialShare.astro
  src/components/TechItem.astro
  src/components/TestimonialCard.astro
  src/components/WorkStatusBadge.astro
  src/components/blog/Disclosure.astro
  src/components/blog/RepoSetupHandoff.astro
  src/components/blog/WorktreeFolderGlyph.astro
  src/components/mdx/A.astro
  src/components/seo/CanonicalMeta.astro
  src/components/seo/OpenGraphMeta.astro
  src/layouts/Layout.astro
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
  src/sections/TestimonialsSection.astro
  src/views/BlogPage.astro
  src/views/HomePage.astro
  src/views/blog-post/BlogPostHeader.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Path conditions:
  oxlint --import-plugin --deny-warnings: any of: **/*.{js,mjs,cjs,ts,astro}
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,astro}) or (any of: **/*.{md,yml})
