Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): bump actions/setup-node from 6.3.0 to 6.4.0
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: prettier --check

chore: ignore sisyphus artifacts in prettier
  .prettierignore
Due: none

chore(deps): normalize dependency management to bun
  .github/dependabot.yml
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  package-lock.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): bump devalue to 5.8.1
  bun.lock
Due: none

chore(deps): bump astro to 6.3.2
  bun.lock
  package.json
Due: none

chore(deps): bump astro to 6.3.2 (#81)
  bun.lock
  package.json
Due: none

chore(deps): bump @astrojs/mdx
  bun.lock
  package.json
Due: none

Revert "chore(deps): bump @astrojs/mdx"
  bun.lock
  package.json
Due: none

chore(deps): bump @astrojs/mdx (#82)
  bun.lock
  package.json
Due: none

chore(deps): bump postcss to 8.5.14
  bun.lock
Due: none

chore(deps): bump postcss to 8.5.14 (#84)
  bun.lock
Due: none

chore(deps): bump fast-xml-parser to 5.7.3
  bun.lock
Due: none

fix: use static Astro generator metadata
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix: narrow site URL formatting input
  src/components/seo/SEO.astro
  src/lib/formatters.ts
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): update Bun dependency group
  bun.lock
  package.json
Due: none

fix: support Astro 6.3.3 static build
  bun.lock
  package.json
  src/components/seo/SEO.astro
  src/layouts/Layout.astro
  src/lib/formatters.ts
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  3a36d6bb2bcfee5ffbd45a2b5543adbf70d38b53
Due: none

chore(test): add vitest harness
  bun.lock
  package.json
  vitest.config.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(seo): use shared URL helpers
  src/components/LocaleScript.astro
  src/components/seo/CanonicalMeta.astro
  src/components/seo/SEO.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(i18n): centralize locale URL helpers
  src/i18n/index.ts
  src/i18n/url-paths.ts
  src/i18n/utils.test.ts
  src/i18n/utils.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(routes): reuse canonical path helpers
  src/lib/formatters.ts
  src/views/BlogPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(links): add external link policy
  src/lib/link-policy.test.ts
  src/lib/link-policy.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(links): apply external link policy
  src/components/CompanyMarquee.astro
  src/components/SocialLinks.astro
  src/components/SocialShare.astro
  src/components/mdx/A.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(stack): extract section behavior
  src/sections/StackSection.astro
  src/sections/stack-section/stack-section.test.ts
  src/sections/stack-section/stack-section.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(blog): extract post metadata
  src/views/blog-post/blog-post-metadata.test.ts
  src/views/blog-post/blog-post-metadata.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(hero): inline shallow hero components
  src/components/Highlight.astro
  src/components/LocationBadge.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(blog): split post rendering modules
  src/views/BlogPostPage.astro
  src/views/blog-post/BlogPostArticle.astro
  src/views/blog-post/BlogPostHead.astro
  src/views/blog-post/BlogPostHeader.astro
  src/views/blog-post/BlogPostProseStyles.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(blog): inline latest posts CTA
  src/components/ViewMoreLink.astro
  src/sections/LatestPostsSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): upgrade project to Astro 7
  AGENTS.md
  astro.config.mjs
  bun.lock
  package.json
  src/components/BackToTop.astro
  src/components/CompanyMarquee.astro
  src/components/ThemeToggle.astro
  src/env.d.ts
  src/i18n/locales.ts
  src/i18n/url-paths.ts
  src/i18n/utils.ts
  src/integrations/sitemap-hreflang.ts
  src/pages/es/rss.xml.ts
  src/pages/og/[...slug].ts
  src/pages/rss.xml.ts
  src/sections/StackSection.astro
  src/sections/stack-section/stack-section.ts
  src/views/blog-post/blog-post-metadata.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(astro): adopt Astro 7 native APIs
  AGENTS.md
  README.md
  astro.config.mjs
  bun.lock
  docs/astro-7-implementation-review.md
  package.json
  src/assets/fonts/InterVariable.woff2
  src/components/BackToTop.astro
  src/components/BlogEntry.astro
  src/components/CompanyMarquee.astro
  src/components/ExpandButton.astro
  src/components/Giscus.astro
  src/components/LanguageSwitcher.astro
  src/components/SocialShare.astro
  src/components/ThemeScript.astro
  src/components/ThemeToggle.astro
  src/env.d.ts
  src/integrations/sitemap-hreflang.ts
  src/layouts/Layout.astro
  src/sections/StackSection.astro
  src/styles/global.css
  src/styles/theme.css
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(git): ignore local tooling artifacts
  .gitignore
Due: none

chore: initialize Lighthouse badge for v2.12.2
  lighthouse-scores.svg
Due: none

chore(ci): optimize workflows and publish Lighthouse badge
  .bun-version
  .github/actionlint.yaml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  .releaserc.json
  AGENTS.md
  README.md
  bun.lock
  lighthouserc.release.json
  package.json
  scripts/lighthouse-badge.test.ts
  scripts/lighthouse-badge.ts
  vitest.config.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

Path conditions:
  oxlint --import-plugin --deny-warnings: any of: **/*.{js,mjs,cjs,ts,astro}
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,astro}) or (any of: **/*.{md,yml})
