Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

.lintstagedrc:

{
	"**/*.{js,mjs,cjs,ts,astro}": ["oxlint --import-plugin --deny-warnings", "prettier --check"],
	"**/*.{md,yml}": ["prettier --check"]
}

feat: improve lighthouse
  src/components/ProfilePicture.astro
  src/components/WorkStatusBadge.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: StackSection and related comps improvement
  src/assets/icons/chevron-down.svg
  src/assets/icons/circle.svg
  src/assets/icons/clock.svg
  src/assets/icons/close.svg
  src/assets/icons/eye.svg
  src/assets/icons/git-commit.svg
  src/assets/icons/github.svg
  src/assets/icons/instagram.svg
  src/assets/icons/laptop.svg
  src/assets/icons/linkedin.svg
  src/assets/icons/location.svg
  src/assets/icons/rocket.svg
  src/assets/icons/x.svg
  src/components/BlogEntry.astro
  src/components/ClearFilterButton.astro
  src/components/CompanyMarquee.astro
  src/components/FilterChip.astro
  src/components/LocationBadge.astro
  src/components/SocialLinks.astro
  src/components/TechItem.astro
  src/components/ViewMoreButton.astro
  src/components/WorkStatusBadge.astro
  src/components/icons/IconChevronDown.astro
  src/components/icons/IconCircle.astro
  src/components/icons/IconClock.astro
  src/components/icons/IconClose.astro
  src/components/icons/IconEye.astro
  src/components/icons/IconGitCommit.astro
  src/components/icons/IconGitHub.astro
  src/components/icons/IconInstagram.astro
  src/components/icons/IconLaptop.astro
  src/components/icons/IconLinkedIn.astro
  src/components/icons/IconLocation.astro
  src/components/icons/IconRocket.astro
  src/components/icons/IconX.astro
  src/components/icons/types.ts
  src/sections/HeroSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: multiple components improvements
  package.json
  src/components/ClearFilterButton.astro
  src/components/FilterChip.astro
  src/components/ViewMoreButton.astro
  src/components/WorkStatusBadge.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(StackSection): improve perf
  src/lib/dom/animations.ts
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(theme): implement light/dark mode
  src/assets/icons/moon.svg
  src/assets/icons/sun-moon.svg
  src/assets/icons/sun.svg
  src/components/TechItem.astro
  src/components/ThemeScript.astro
  src/components/ThemeToggle.astro
  src/components/Welcome.astro
  src/components/WorkStatusBadge.astro
  src/layouts/Layout.astro
  src/lib/theme/constants.ts
  src/lib/theme/index.ts
  src/lib/theme/theme.ts
  src/sections/HeroSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(icon): X icon
  src/assets/icons/x.svg
Due: none

feat(ThemeToggle): support for future i18n
  src/components/ThemeToggle.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(StackSection): add astro light dark icons
  public/tech/astro-dark.svg
  public/tech/astro-light.svg
  src/components/Welcome.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add LICENSE
  LICENSE
Due: none

feat(StackSection): auto color inverter and manual icons
  public/tech/aws-dark.svg
  public/tech/aws-light.svg
  public/tech/rust.svg
  src/components/TechItem.astro
  src/components/Welcome.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: add package.json prettier and format everything
  astro.config.mjs
  bun.lock
  package.json
  prettier.config.mjs
  public/site.webmanifest
  src/components/Card.astro
  src/components/Container.astro
  src/components/Highlight.astro
  src/components/ProfilePicture.astro
  src/lib/social-share/index.ts
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/pages/index.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: add tailwind prettier and format everything
  bun.lock
  package.json
  prettier.config.mjs
  src/components/BlogEntry.astro
  src/components/Card.astro
  src/components/ClearFilterButton.astro
  src/components/FilterChip.astro
  src/components/TechItem.astro
  src/components/ThemeToggle.astro
  src/components/ViewMoreButton.astro
  src/components/WorkStatusBadge.astro
  src/layouts/Layout.astro
  src/sections/HeroSection.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: enable svgo
  astro.config.mjs
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: improve lighthouse metrics
  src/components/CompanyMarquee.astro
  src/components/ProfilePicture.astro
  src/layouts/Layout.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: remove some favicons
  public/favicons/favicon-114x114.png
  public/favicons/favicon-120x120.png
  public/favicons/favicon-128x128.png
  public/favicons/favicon-144x144.png
  public/favicons/favicon-152x152.png
  public/favicons/favicon-384x384.png
  public/favicons/favicon-57x57.png
  public/favicons/favicon-60x60.png
  public/favicons/favicon-72x72.png
  public/favicons/favicon-76x76.png
  public/favicons/favicon-96x96.png
Due: none

chore: remove unneded images
  src/assets/astro.svg
  src/assets/background.svg
  src/assets/images/me-horizontal.bak.jpeg
  src/assets/images/me-vertical.bak.jpeg
Due: none

feat: add compress and use only tailwind in container
  astro.config.mjs
  bun.lock
  package.json
  src/components/Container.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: shadow, size and spacing improvements
  public/patterns/dots.svg
  src/components/CompanyMarquee.astro
  src/components/TechItem.astro
  src/layouts/Layout.astro
  src/sections/HeroSection.astro
  src/sections/StackSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: improve lighthouse score and add server
  astro.config.mjs
  bun.lock
  docker-compose.yml
  package-lock.json
  package.json
  public/favicons/favicon-150x150.png
  public/favicons/favicon-192x192.png
  public/favicons/favicon-310x310.png
  public/favicons/favicon-70x70.png
  public/site.webmanifest
  server.toml
  src/components/CompanyMarquee.astro
  src/components/ProfilePicture.astro
  src/layouts/Layout.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add oxlint with lint staged
  package.json
Due: none

chore: set up bun version
  .bun-version
  package.json
Due: none

chore: use tailwind lsp for css files
  .zed/settings.json
Due: none

ci: configure release, verification and more
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  .releaserc.json
  bunfig.toml
  lighthouserc.json
Due: prettier --check

docs: add README.md
  README.md
Due: prettier --check

ci: node version for semantic-release
  .github/workflows/release.yml
Due: prettier --check

Notes added by 'git notes add'
  fccbbee495a053202c084fda705e0b307d32a471
Due: none

docs: fix repo url
  README.md
Due: prettier --check

feat(BlogEntry): improvements and Pill creation
  src/assets/icons/arrow-right.svg
  src/components/BlogEntry.astro
  src/components/HomePage.astro
  src/components/Pill.astro
  src/sections/LatestPostsSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(BlogEntry): improvements to related components
  src/components/BlogEntry.astro
  src/components/Pill.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(ClearFilterButton): improve styling and accessibility
  src/components/ClearFilterButton.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  e8adb85acb1d8b8127ad3fcc9962c0afc7e99eed
Due: none

refactor(ViewMoreButton): improve accessibility and convert styles to Tailwind
  src/components/ViewMoreButton.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(sections): improve LatestPostsSection and update StackSection
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(ClearFilterButton): use aria-hidden for visibility with CSS transitions
  src/components/ClearFilterButton.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(components): improve ViewMoreButton and sections consistency
  src/components/ViewMoreButton.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(components): rename ViewMoreButton to ExpandButton and create ViewMoreLink
  src/assets/icons/arrow-right.svg
  src/components/ExpandButton.astro
  src/components/HomePage.astro
  src/components/ViewMoreLink.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check
