Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

.lintstagedrc:

{
	"**/*.{js,mjs,cjs,ts,astro}": ["oxlint --import-plugin --deny-warnings", "prettier --check"],
	"**/*.{md,yml}": ["prettier --check"]
}

feat(blog): add reading time and navbar to homepage
  src/lib/formatters.ts
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(blog): add pagination with 10 posts per page
  src/components/Pagination.astro
  src/content/blog/en/api-design-principles.mdx
  src/content/blog/en/astro-introduction.mdx
  src/content/blog/en/aws-lambda-tips.mdx
  src/content/blog/en/docker-development.mdx
  src/content/blog/en/git-workflow.mdx
  src/content/blog/en/go-concurrency.mdx
  src/content/blog/en/kubernetes-basics.mdx
  src/content/blog/en/postgres-performance.mdx
  src/content/blog/en/react-patterns.mdx
  src/content/blog/en/redis-caching.mdx
  src/content/blog/en/rust-beginners.mdx
  src/content/blog/en/tailwind-tips.mdx
  src/content/blog/en/terraform-modules.mdx
  src/content/blog/en/testing-strategies.mdx
  src/content/blog/en/typescript-best-practices.mdx
  src/content/blog/es/api-design-principles.mdx
  src/content/blog/es/astro-introduction.mdx
  src/content/blog/es/aws-lambda-tips.mdx
  src/content/blog/es/docker-development.mdx
  src/content/blog/es/git-workflow.mdx
  src/content/blog/es/go-concurrency.mdx
  src/content/blog/es/kubernetes-basics.mdx
  src/content/blog/es/postgres-performance.mdx
  src/content/blog/es/react-patterns.mdx
  src/content/blog/es/redis-caching.mdx
  src/content/blog/es/rust-beginners.mdx
  src/content/blog/es/tailwind-tips.mdx
  src/content/blog/es/terraform-modules.mdx
  src/content/blog/es/testing-strategies.mdx
  src/content/blog/es/typescript-best-practices.mdx
  src/pages/blog/index.astro
  src/pages/blog/page/[page].astro
  src/pages/es/blog/index.astro
  src/pages/es/blog/page/[page].astro
  src/views/BlogPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: add Astro view transitions for smooth page navigation
  src/components/Navbar.astro
  src/components/ThemeScript.astro
  src/layouts/Layout.astro
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

refactor(i18n): improve internationalization utilities and component accessibility
  src/assets/icons/chevron-left.svg
  src/assets/icons/chevron-right.svg
  src/components/BlogEntry.astro
  src/components/CompanyMarquee.astro
  src/components/LanguageSwitcher.astro
  src/components/LocaleScript.astro
  src/components/LocationBadge.astro
  src/components/Navbar.astro
  src/components/Pagination.astro
  src/components/Pill.astro
  src/components/SocialLinks.astro
  src/components/TestimonialCard.astro
  src/components/WorkStatusBadge.astro
  src/content.config.ts
  src/i18n/index.ts
  src/i18n/locales.ts
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/lib/locale-storage.ts
  src/pages/blog/[slug].astro
  src/pages/blog/index.astro
  src/pages/blog/page/[page].astro
  src/pages/es/blog/[slug].astro
  src/pages/es/blog/index.astro
  src/pages/es/blog/page/[page].astro
  src/sections/LatestPostsSection.astro
  src/types/post.ts
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(security): prevent incomplete HTML sanitization bypass
  src/lib/formatters.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix: remove inline code before HTML stripping in reading time calc
  src/lib/formatters.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  5ffe2def07413dc51e52b20cfc9c526c3c9a43ad
Due: none

refactor(sections): improve accessibility, documentation, and code organization
  src/components/CompanyMarquee.astro
  src/data/companies.ts
  src/sections/HeroSection.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
  src/types/company.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: improve hero, contact, blog, and testimonials sections
  bun.lock
  package.json
  prettier.config.mjs
  public/tech/git.svg
  src/components/BlogEntry.astro
  src/components/ProfilePicture.astro
  src/components/SocialLinks.astro
  src/components/TestimonialCard.astro
  src/content/blog/en/react-patterns.mdx
  src/content/blog/es/react-patterns.mdx
  src/data/technologies.ts
  src/data/testimonials.ts
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/lib/formatters.ts
  src/lib/social-share/index.ts
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/lib/theme/theme.ts
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/sections/LatestPostsSection.astro
  src/sections/TestimonialsSection.astro
  src/styles/theme.css
  src/types/testimonial.ts
  src/views/HomePage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

revert: restore prettier instead of oxfmt for plugin compatibility
  bun.lock
  package.json
  prettier.config.mjs
  src/components/BlogEntry.astro
  src/components/ProfilePicture.astro
  src/components/TestimonialCard.astro
  src/content/blog/en/react-patterns.mdx
  src/content/blog/es/react-patterns.mdx
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/lib/formatters.ts
  src/lib/social-share/index.ts
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/lib/theme/theme.ts
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  505f808ce73e217b92b7b76deb30bbe735bf1f68
Due: none

chore: prepare for first release
  .github/workflows/release.yml
  .releaserc.json
  bun.lock
  lighthouserc.json
  package.json
  src/content/blog/en/api-design-principles.mdx
  src/content/blog/en/astro-introduction.mdx
  src/content/blog/en/aws-lambda-tips.mdx
  src/content/blog/en/docker-development.mdx
  src/content/blog/en/example-post.mdx
  src/content/blog/en/git-workflow.mdx
  src/content/blog/en/go-concurrency.mdx
  src/content/blog/en/kubernetes-basics.mdx
  src/content/blog/en/postgres-performance.mdx
  src/content/blog/en/react-patterns.mdx
  src/content/blog/en/redis-caching.mdx
  src/content/blog/en/rust-beginners.mdx
  src/content/blog/en/tailwind-tips.mdx
  src/content/blog/en/terraform-modules.mdx
  src/content/blog/en/testing-strategies.mdx
  src/content/blog/en/typescript-best-practices.mdx
  src/content/blog/es/api-design-principles.mdx
  src/content/blog/es/astro-introduction.mdx
  src/content/blog/es/aws-lambda-tips.mdx
  src/content/blog/es/docker-development.mdx
  src/content/blog/es/example-post.mdx
  src/content/blog/es/git-workflow.mdx
  src/content/blog/es/go-concurrency.mdx
  src/content/blog/es/kubernetes-basics.mdx
  src/content/blog/es/postgres-performance.mdx
  src/content/blog/es/react-patterns.mdx
  src/content/blog/es/redis-caching.mdx
  src/content/blog/es/rust-beginners.mdx
  src/content/blog/es/tailwind-tips.mdx
  src/content/blog/es/terraform-modules.mdx
  src/content/blog/es/testing-strategies.mdx
  src/content/blog/es/typescript-best-practices.mdx
Due: prettier --check

fix(ci): add Node.js 22 setup for semantic-release compatibility
  .github/workflows/release.yml
Due: prettier --check

fix(ci): update setup-node to v6
  .github/workflows/release.yml
Due: prettier --check

Notes added by 'git notes add'
  1707512cbe9067fa2eafb3f93f99711e55490316
Due: none

Notes added by 'git notes add'
  aef16ea3cc65cb7e7cc514965948cf1cd2f8925d
Due: none

feat(blog): add OG image and localize breadcrumbs
  public/og-image.png
  src/assets/images/og-bg.svg
  src/components/Navbar.astro
  src/i18n/ui.ts
  src/views/BlogPage.astro
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  3cafc656215de487bbe49b1c0b9e2325ff4ff6d1
Due: none

fix: improve accessibility and reduce layout shift
  src/components/ClearFilterButton.astro
  src/components/TechItem.astro
  src/components/seo/OpenGraphMeta.astro
  src/i18n/ui.ts
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(deps): update astro, tailwindcss, and sitemap
  bun.lock
  package.json
Due: none

Notes added by 'git notes add'
  73324223d18667a8dfea8618b9c6e9462b04853f
Due: none

feat: add Inter Variable font and adjust typography weights
  bun.lock
  package.json
  src/components/LocationBadge.astro
  src/layouts/Layout.astro
  src/sections/ContactSection.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix: improve CSP compliance and fix CLS in Stack section
  src/components/LocaleScript.astro
  src/components/TechItem.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(ci): run Lighthouse against production URLs without local server
  .github/workflows/release.yml
Due: prettier --check

Notes added by 'git notes add'
  478cde6c05324805849ba1f19bdf652992d4b83f
Due: none

style: refine typography weights in Hero and Stack sections
  src/components/TechItem.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(ci): provide commit hash to Lighthouse CI via env variable
  .github/workflows/release.yml
Due: prettier --check

Notes added by 'git notes add'
  9a1050ac0af69bd24e384db90cf8398e8a5e42e2
Due: none

refactor: migrate to native CSS View Transitions API
  src/layouts/Layout.astro
  src/styles/global.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix: improve responsive layout for Stack filters and Hero section
  src/data/testimonials.ts
  src/i18n/ui.ts
  src/sections/HeroSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  fc344a69441f5478db5e0f6c39e01e4057b3a406
Due: none

feat: add theme-aware company logos and improve blog styling
  astro.config.mjs
  public/companies/openzeppelin-dark.svg
  public/companies/openzeppelin-light.svg
  public/companies/openzeppelin.svg
  public/companies/premise-dark.svg
  public/companies/premise-light.svg
  public/companies/premise.svg
  public/companies/rappi-dark.svg
  public/companies/rappi-light.svg
  public/companies/rappi.svg
  public/companies/resit-dark.svg
  public/companies/resit-light.svg
  public/companies/resit.svg
  public/companies/socotra-dark.svg
  public/companies/socotra-light.svg
  public/companies/socotra.svg
  public/companies/vitamina-dark.svg
  public/companies/vitamina-light.svg
  public/companies/vitamina.svg
  src/components/CompanyMarquee.astro
  src/components/ThemedImage.astro
  src/data/companies.ts
  src/styles/theme.css
  src/types/company.ts
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  d5d9814f4953c804d68498cfbb201d3890501078
Due: none

feat(blog): add automatic OG image generation for posts
  bun.lock
  package.json
  src/pages/og/[...slug].ts
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  e94f273e9a5f258fc54dff68e86b89ce4f4b644a
Due: none

feat(blog): add Giscus comments and fix language switcher for translated posts
  astro.config.mjs
  src/components/Giscus.astro
  src/components/LanguageSwitcher.astro
  src/components/seo/CanonicalMeta.astro
  src/components/seo/SEO.astro
  src/styles/theme.css
  src/views/BlogPostPage.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Notes added by 'git notes add'
  456264c6ee1c435093166eff27a60546631d4959
Due: none

feat: add git worktree blog post with Callout component
  src/assets/blog/git-worktree/shared-git-folder-dark.svg
  src/assets/blog/git-worktree/shared-git-folder-light.svg
  src/assets/blog/git-worktree/two-branches-folder.png
  src/assets/blog/git-worktree/worktree-comparison.png
  src/assets/icons/git-branch.svg
  src/components/Callout.astro
  src/content/blog/en/git-worktree-interruption-proof-workflow.mdx
  src/content/blog/es/git-worktree-workflow-a-prueba-de-interrupciones.mdx
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: switch GitHub Actions runners to Ubicloud
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: prettier --check
