Repository LuisUrrutia/website: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --import-plugin --deny-warnings, prettier --check

docs: add links to tools used
  README.md
Due: prettier --check

chore: fix codeowners file
  .github/CODEOWNERS
Due: none

docs: add links to tools used (#11)
  .github/CODEOWNERS
  README.md
Due: prettier --check

build(deps): update deps
  package.json
  pnpm-lock.yaml
Due: none

ci(verify): skip audit step
  .github/workflows/verify.yml
Due: prettier --check

build(deps): update deps (#18)
  .github/workflows/verify.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(base): aliases, tailwind, head elements
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/common/types.ts
  src/components/CustomStyles.astro
  src/components/Head.astro
  src/layouts/Layout.astro
  src/utils/socials.ts
  tailwind.config.mjs
  tsconfig.json
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore(base): aliases, tailwind, head elements (#20)
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/common/types.ts
  src/components/CustomStyles.astro
  src/components/Head.astro
  src/layouts/Layout.astro
  src/utils/socials.ts
  tailwind.config.mjs
  tsconfig.json
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: allow warning in linter
  package.json
Due: none

chore: init astro, tailwind and social sharing util
  astro.config.mjs
  bun.lock
  package.json
  src/layouts/Layout.astro
  src/lib/social-share/index.ts
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/styles/global.css
  tsconfig.json
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add oxc and prettier
  .prettierignore
  README.md
  astro.config.mjs
  bun.lock
  package.json
  prettier.config.mjs
  src/lib/social-share/index.ts
  src/lib/social-share/providers.ts
  src/lib/social-share/types.ts
  src/styles/global.css
  tsconfig.json
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add husky precommit
  .husky/pre-commit
  bun.lock
  package.json
Due: none

chore: add commitlint
  bun.lock
  commitlint.config.js
  package.json
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add icons
  package.json
  src/assets/icons/circle.svg
  src/assets/icons/github.svg
  src/assets/icons/instagram.svg
  src/assets/icons/laptop.svg
  src/assets/icons/linkedin.svg
  src/assets/icons/location.svg
  src/assets/icons/x.svg
Due: none

feat(LatestPostsSection): add latests post section
  src/components/BlogEntry.astro
  src/components/ViewMoreButton.astro
  src/components/Welcome.astro
  src/components/icons/IconClock.astro
  src/components/icons/IconEye.astro
  src/sections/LatestPostsSection.astro
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: improve StackSection
  src/sections/StackSection.astro
  src/styles/global.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: transform icons into components
  src/assets/icons/circle.svg
  src/assets/icons/github.svg
  src/assets/icons/instagram.svg
  src/assets/icons/laptop.svg
  src/assets/icons/linkedin.svg
  src/assets/icons/location.svg
  src/assets/icons/x.svg
  src/components/icons/IconCircle.astro
  src/components/icons/IconGitHub.astro
  src/components/icons/IconInstagram.astro
  src/components/icons/IconLaptop.astro
  src/components/icons/IconLinkedIn.astro
  src/components/icons/IconLocation.astro
  src/components/icons/IconX.astro
  src/components/icons/types.ts
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: migrate styles from previous web
  src/styles/global.css
  src/styles/theme.css
  src/styles/utilities.css
Due: none

chore: configure prettier and utils
  bun.lock
  package.json
  prettier.config.mjs
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add SocialLinks component
  src/components/SocialLinks.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add tailwind styles to layout
  src/pages/index.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(LocationBadge): create location component
  src/components/LocationBadge.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(WorkStatusBadge): create work status component
  src/components/WorkStatusBadge.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add tailwind styles to layout
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat: add card and container components
  src/components/Card.astro
  src/components/Container.astro
  src/layouts/Layout.astro
  src/styles/theme.css
  src/styles/utilities.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

fix(WorkStatusBadge): wrapper fit the content
  src/components/WorkStatusBadge.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: multiple changes
  public/favicons/favicon-114x114.png
  public/favicons/favicon-120x120.png
  public/favicons/favicon-128x128.png
  public/favicons/favicon-144x144.png
  public/favicons/favicon-150x150.png
  public/favicons/favicon-152x152.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-180x180.png
  public/favicons/favicon-192x192.png
  public/favicons/favicon-310x310.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-384x384.png
  public/favicons/favicon-512x512.png
  public/favicons/favicon-57x57.png
  public/favicons/favicon-60x60.png
  public/favicons/favicon-70x70.png
  public/favicons/favicon-72x72.png
  public/favicons/favicon-76x76.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.svg
  public/images/brush-1.svg
  src/assets/images/me-horizontal.jpeg
  src/assets/images/me-vertical.jpeg
  src/components/Container.astro
  src/components/Highlight.astro
  src/components/ProfilePicture.astro
  src/components/SocialLinks.astro
  src/components/Welcome.astro
  src/layouts/Layout.astro
  src/sections/HeroSection.astro
  src/styles/theme.css
  src/styles/utilities.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: add favicons and manifest
  public/browserconfig.xml
  public/site.webmanifest
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(IconRocket): add new icon
  src/components/icons/IconRocket.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(CompanyMarquee): add a featured companies section
  .editorconfig
  public/companies/openzeppelin.svg
  public/companies/premise.svg
  public/companies/rappi.svg
  public/companies/resit.svg
  public/companies/socotra.svg
  public/companies/vitamina.svg
  src/assets/icons/git-commit-horizontal.svg
  src/components/CompanyMarquee.astro
  src/components/icons/IconGitCommit.astro
  src/sections/HeroSection.astro
  src/styles/theme.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(CompanyMarquee): improvements
  src/components/CompanyMarquee.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(CompanyMarquee): add urls to companies
  src/components/CompanyMarquee.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(StackSection): add tech stack section
  public/tech/astro.svg
  public/tech/aws.svg
  public/tech/chatgpt.svg
  public/tech/claude.svg
  public/tech/docker.svg
  public/tech/dynamodb.svg
  public/tech/figma.svg
  public/tech/github.svg
  public/tech/go.svg
  public/tech/javascript.svg
  public/tech/kubernetes.svg
  public/tech/mongodb.svg
  public/tech/next.svg
  public/tech/postgresql.svg
  public/tech/python.svg
  public/tech/react.svg
  public/tech/redis.svg
  public/tech/rust.svg
  public/tech/solidity.svg
  public/tech/svelte.svg
  public/tech/tailwind.svg
  public/tech/terraform.svg
  public/tech/typescript.svg
  src/components/Welcome.astro
  src/components/icons/IconChevronDown.astro
  src/components/icons/IconClose.astro
  src/layouts/Layout.astro
  src/sections/StackSection.astro
  src/styles/utilities.css
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(StackSection): use tailwind classes instead
  src/sections/StackSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: improvements to compress and highlight
  astro.config.mjs
  src/components/Highlight.astro
  src/components/Welcome.astro
  src/sections/HeroSection.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

chore: use lucide icons
  src/assets/icons/clock.svg
  src/assets/icons/eye.svg
Due: none

feat(CompanyMarquee): add width height to imgs
  src/components/CompanyMarquee.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(HomePage): use landmarks and rename it from Welcome
  src/components/HomePage.astro
  src/pages/index.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

feat(Layout): title and description
  src/layouts/Layout.astro
Due: oxlint --import-plugin --deny-warnings, prettier --check

Path conditions:
  oxlint --import-plugin --deny-warnings: any of: **/*.{js,mjs,cjs,ts,astro}
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,astro}) or (any of: **/*.{md,yml})
